*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0
}

fieldset {
    margin: 0;
    padding: 0
}

legend {
    padding: 0
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af
}

button,
[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

*,
::before,
::after {
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-translate-x: 0;
    --un-translate-y: 0;
    --un-translate-z: 0;
    --un-pan-x: ;
    --un-pan-y: ;
    --un-pinch-zoom: ;
    --un-scroll-snap-strictness: proximity;
    --un-ordinal: ;
    --un-slashed-zero: ;
    --un-numeric-figure: ;
    --un-numeric-spacing: ;
    --un-numeric-fraction: ;
    --un-border-spacing-x: 0;
    --un-border-spacing-y: 0;
    --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-shadow-inset: ;
    --un-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-inset: ;
    --un-ring-offset-width: 0px;
    --un-ring-offset-color: #fff;
    --un-ring-width: 0px;
    --un-ring-color: rgba(147, 197, 253, 0.5);
    --un-blur: ;
    --un-brightness: ;
    --un-contrast: ;
    --un-drop-shadow: ;
    --un-grayscale: ;
    --un-hue-rotate: ;
    --un-invert: ;
    --un-saturate: ;
    --un-sepia: ;
    --un-backdrop-blur: ;
    --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia: ;
}

::backdrop {
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-translate-x: 0;
    --un-translate-y: 0;
    --un-translate-z: 0;
    --un-pan-x: ;
    --un-pan-y: ;
    --un-pinch-zoom: ;
    --un-scroll-snap-strictness: proximity;
    --un-ordinal: ;
    --un-slashed-zero: ;
    --un-numeric-figure: ;
    --un-numeric-spacing: ;
    --un-numeric-fraction: ;
    --un-border-spacing-x: 0;
    --un-border-spacing-y: 0;
    --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-shadow-inset: ;
    --un-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-inset: ;
    --un-ring-offset-width: 0px;
    --un-ring-offset-color: #fff;
    --un-ring-width: 0px;
    --un-ring-color: rgba(147, 197, 253, 0.5);
    --un-blur: ;
    --un-brightness: ;
    --un-contrast: ;
    --un-drop-shadow: ;
    --un-grayscale: ;
    --un-hue-rotate: ;
    --un-invert: ;
    --un-saturate: ;
    --un-sepia: ;
    --un-backdrop-blur: ;
    --un-backdrop-brightness: ;
    --un-backdrop-contrast: ;
    --un-backdrop-grayscale: ;
    --un-backdrop-hue-rotate: ;
    --un-backdrop-invert: ;
    --un-backdrop-opacity: ;
    --un-backdrop-saturate: ;
    --un-backdrop-sepia: ;
}

/*
    Error: API Error 
    Details: Please specify a valid font on the 'family' parameter. 
*/
.i-fa6-brands-discord {
    --un-icon: url("https://cdn-icons-png.flaticon.com/512/2111/2111363.png");
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
    width: 1em;
    height: 1em;
}

.i-fa6-brands-spotify {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 496 512' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248s248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6c-62.4-37.6-135-39.2-206.7-24.5c-3.9 1-9 2.6-11.9 2.6c-9.7 0-15.8-7.7-15.8-15.8c0-10.3 6.1-15.2 13.6-16.8c81.9-18.1 165.6-16.5 237 26.2c6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2c-62.5-37-155.7-51.9-238.6-29.4c-4.8 1.3-7.4 2.6-11.9 2.6c-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6c64.9 0 127.6 16.1 177 45.5c8.1 4.8 11.3 11 11.3 19.7c-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9c-71.2-42.5-198.5-52.7-280.9-29.7c-3.6 1-8.1 2.6-12.9 2.6c-13.2 0-23.3-10.3-23.3-23.6c0-13.6 8.4-21.3 17.4-23.9c35.2-10.3 74.6-15.2 117.5-15.2c73 0 149.5 15.2 205.4 47.8c7.8 4.5 12.9 10.7 12.9 22.6c0 13.6-11 23.3-23.2 23.3z'/%3E%3C/svg%3E");
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
    width: 1em;
    height: 1em;
}

.i-fa6-brands-twitter {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 512 512' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645c0 138.72-105.583 298.558-298.558 298.558c-59.452 0-114.68-17.219-161.137-47.106c8.447.974 16.568 1.299 25.34 1.299c49.055 0 94.213-16.568 130.274-44.832c-46.132-.975-84.792-31.188-98.112-72.772c6.498.974 12.995 1.624 19.818 1.624c9.421 0 18.843-1.3 27.614-3.573c-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319c-28.264-18.843-46.781-51.005-46.781-87.391c0-19.492 5.197-37.36 14.294-52.954c51.655 63.675 129.3 105.258 216.365 109.807c-1.624-7.797-2.599-15.918-2.599-24.04c0-57.828 46.782-104.934 104.934-104.934c30.213 0 57.502 12.67 76.67 33.137c23.715-4.548 46.456-13.32 66.599-25.34c-7.798 24.366-24.366 44.833-46.132 57.827c21.117-2.273 41.584-8.122 60.426-16.243c-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E");
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
    width: 1em;
    height: 1em;
}

.i-octicon-mail {
    --un-icon: url("https://i.pinimg.com/originals/cd/41/00/cd41006a8dca91e0b68085d394b7dac9.png");
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
    width: 1em;
    height: 1em;
}

.i-octicon-mark-github-16 {
    --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z'/%3E%3C/svg%3E");
    mask: var(--un-icon) no-repeat;
    mask-size: 100% 100%;
    -webkit-mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    background-color: currentColor;
    width: 1em;
    height: 1em;
}

.container {
    max-width: 100%;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.-bottom-1 {
    bottom: -0.25rem;
}

.-right-1 {
    right: -0.25rem;
}

.left-\[16px\] {
    left: 16px;
}

.right-\[16px\] {
    right: 16px;
}

.top-\[120px\] {
    top: 120px;
}

.top-\[76px\] {
    top: 76px;
}

.grid {
    display: grid;
}

.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-16 {
    margin-bottom: 4rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.ml-2\.5 {
    margin-left: 0.625rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.h-\[1px\] {
    height: 1px;
}

.h-\[4px\] {
    height: 4px;
}

.h-\[92px\] {
    height: 92px;
}

.h-8 {
    height: 2rem;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.h2 {
    height: 0.5rem;
}

.w-\[300px\] {
    width: 300px;
}

.w-\[92px\] {
    width: 92px;
}

.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-initial {
    flex: 0 1 auto;
}

.grow {
    flex-grow: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.select-none {
    user-select: none;
}

.place-content-center {
    place-content: center;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-3 {
    grid-gap: 0.75rem;
    gap: 0.75rem;
}

.gap-4 {
    grid-gap: 1rem;
    gap: 1rem;
}

.space-x-2>:not([hidden])~:not([hidden]) {
    --un-space-x-reverse: 0;
    margin-left: calc(0.5rem * calc(1 - var(--un-space-x-reverse)));
    margin-right: calc(0.5rem * var(--un-space-x-reverse));
}

.space-y-2>:not([hidden])~:not([hidden]) {
    --un-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--un-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--un-space-y-reverse));
}

.overflow-hidden {
    overflow: hidden;
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.whitespace-pre-line {
    white-space: pre-line;
}

.border-6 {
    border-width: 6px;
    border-style: solid;
}

.border-white {
    --un-border-opacity: 1;
    border-color: rgba(255, 255, 255, var(--un-border-opacity));
}

.dark .dark\:border-zinc-900 {
    --un-border-opacity: 1;
    border-color: rgba(24, 24, 27, var(--un-border-opacity));
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.bg-gray-700 {
    --un-bg-opacity: 1;
    background-color: rgba(55, 65, 81, var(--un-bg-opacity));
}

.bg-slate-50 {
    --un-bg-opacity: 1;
    background-color: rgba(248, 250, 252, var(--un-bg-opacity));
}

.bg-white {
    --un-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--un-bg-opacity));
}

.bg-zinc-600 {
    --un-bg-opacity: 1;
    background-color: rgba(82, 82, 91, var(--un-bg-opacity));
}

.bg-zinc-800 {
    --un-bg-opacity: 1;
    background-color: rgba(39, 39, 42, var(--un-bg-opacity));
}

.dark .dark\:bg-dark-800 {
    --un-bg-opacity: 1;
    background-color: rgba(24, 24, 24, var(--un-bg-opacity));
}

.dark .dark\:bg-zinc-900 {
    --un-bg-opacity: 1;
    background-color: rgba(24, 24, 27, var(--un-bg-opacity));
}

.hover\:bg-zinc-500:hover {
    --un-bg-opacity: 1;
    background-color: rgba(113, 113, 122, var(--un-bg-opacity));
}

.fill-amber-400 {
    --un-fill-opacity: 1;
    fill: rgba(251, 191, 36, var(--un-fill-opacity));
}

.fill-green-600 {
    --un-fill-opacity: 1;
    fill: rgba(22, 163, 74, var(--un-fill-opacity));
}

.fill-red-500 {
    --un-fill-opacity: 1;
    fill: rgba(239, 68, 68, var(--un-fill-opacity));
}

.fill-slate-500 {
    --un-fill-opacity: 1;
    fill: rgba(100, 116, 139, var(--un-fill-opacity));
}

.object-cover {
    object-fit: cover;
}

.px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pb-3\.5 {
    padding-bottom: 0.875rem;
}

.pt-16 {
    padding-top: 4rem;
}

.text-center {
    text-align: center;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.leading-4 {
    line-height: 1rem;
}

.leading-6 {
    line-height: 1.5rem;
}

.leading-tight {
    line-height: 1.25;
}

.uppercase {
    text-transform: uppercase;
}

.dark .dark\:text-slate-200 {
    --un-text-opacity: 1;
    color: rgba(226, 232, 240, var(--un-text-opacity));
}

.dark .dark\:text-slate-300,
.text-slate-300 {
    --un-text-opacity: 1;
    color: rgba(203, 213, 225, var(--un-text-opacity));
}

.dark .dark\:text-slate-50 {
    --un-text-opacity: 1;
    color: rgba(248, 250, 252, var(--un-text-opacity));
}

.dark .dark\:text-white,
.text-white {
    --un-text-opacity: 1;
    color: rgba(255, 255, 255, var(--un-text-opacity));
}

.text-pink-400 {
    --un-text-opacity: 1;
    color: rgba(244, 114, 182, var(--un-text-opacity));
}

.text-zinc-700 {
    --un-text-opacity: 1;
    color: rgba(63, 63, 70, var(--un-text-opacity));
}

.text-zinc-800 {
    --un-text-opacity: 1;
    color: rgba(39, 39, 42, var(--un-text-opacity));
}

.text-zinc-900 {
    --un-text-opacity: 1;
    color: rgba(24, 24, 27, var(--un-text-opacity));
}

.hover\:underline:hover {
    text-decoration-line: underline;
}

.underline-offset-2 {
    text-underline-offset: 2px;
}

.drop-shadow-xl {
    --un-drop-shadow: drop-shadow(0 20px 13px var(--un-drop-shadow-color, rgba(0, 0, 0, 0.03))) drop-shadow(0 8px 5px var(--un-drop-shadow-color, rgba(0, 0, 0, 0.08)));
    filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@media (min-width: 768px) {
    .md\:mb-0 {
        margin-bottom: 0rem;
    }

    .md\:w-1\/2 {
        width: 50%;
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:items-start {
        align-items: flex-start;
    }

    .md\:pr-16 {
        padding-right: 4rem;
    }
}

@media (min-width: 1024px) {
    .lg\:flex-grow {
        flex-grow: 1;
    }

    .lg\:pr-24 {
        padding-right: 6rem;
    }
}

@media (min-width: 1280px) {
    .xl\:flex-row {
        flex-direction: row;
    }

    .xl\:justify-start {
        justify-content: flex-start;
    }

    .xl\:text-start {
        text-align: start;
    }
}

:root {
    font-family: Whitney, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11"
}

@font-face {
    font-family: Whitney;
    src: url(/fonts/Whitney-Book.woff) format("woff");
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Whitney;
    src: url(/fonts/Whitney-Medium.woff) format("woff");
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: Whitney;
    src: url(/fonts/Whitney-Semibold.woff) format("woff");
    font-weight: 600;
    font-display: swap
}

@font-face {
    font-family: Whitney;
    src: url(/fonts/Whitney-Bold.woff) format("woff");
    font-weight: 700;
    font-display: swap
}